.input-bodies{
    background-color: #152733;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}

.input-bodies h4{
    color: #c4c1c1;
}

.main-input{
    width: auto;
}

.table-smaller {
    font-size: 12px; /* Adjust the font size as needed */
    padding: 4px; /* Adjust padding as needed */
}
