.input-bodies{
    background-color: #152733;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    border: 1px solid red;
}

.input-bodies h4{
    color: #c4c1c1;
}

.main-input{
    width: min-content;
}