{% extends "combine_web/base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">

        <h1>Find out if that NFL propect is the real deal</h1>
        <p>Use our newest <b>Machine Learning</b> model to predict if that player is Pro Bowl quality<br>Just input their combine stats and see the results!</p>
        <p>Press the button below to begin</p>
    <a role="button" class="btn btn-primary btn-lg" href="{% url 'input' %}">Start</a>
    </div>
</div>

{% endblock %}