{% extends "combine_web/base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">

        <img src="{{ graph_url }}" alt="My Graph">
        <div>
            {{ top_player|safe }}
        </div>
        <p>...
        </p>
        <div>
            {{ top_POS_player|safe }}
        </div>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'input' %}">Input</a>
    </div>
</div>

{% endblock %}